/**
Override main.css style
*/
/* define body font */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600);
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  color: #848484; }

.slider-info-wrap .slider-info-content .slider-info-item .info-item-media img {
  min-height: 240px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: 500; }

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
  border: 1px solid #e6e6e6;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white; }

input {
  outline: none !important; }
  input:hover, input:focus {
    outline: none !important; }

.page {
  padding-top: 50px;
  padding-bottom: 50px; }

.page-section {
  padding: 100px 0; }

.small-section {
  padding: 50px 0; }

.inner-nav {
  font-family: 'Roboto', Open Sans; }
  .inner-nav ul li > a {
    font-family: 'Roboto', Open Sans;
    font-weight: 500; }
  .inner-nav.desktop-nav ul {
    font-weight: 500 !important; }
    .inner-nav.desktop-nav ul li .mn-sub li > a {
      font-weight: 500 !important; }
    .inner-nav.desktop-nav ul li .mn-sub.mn-has-multi a.mn-group-title {
      font-size: 16px !important; }

.search-hotels .tours-container .tours-box .rating p {
  display: block;
  margin-top: -10px;
  line-height: 16px;
  font-size: 1rem; }
.search-hotels .tours-container .tours-box .rating .rating-container .rating {
  line-height: 24px; }
.search-hotels .tours-container .tours-box .rating .rating-container .caption {
  display: none; }
.search-hotels .tours-container .tours-box .tours-search .search-wrap {
  position: relative;
  z-index: 1;
  width: 60%; }
  .search-hotels .tours-container .tours-box .tours-search .search-wrap .search-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20px;
    font-size: 16px;
    color: #8bcf17;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .search-hotels .tours-container .tours-box .tours-search .search-wrap input[type="text"] {
    border-color: transparent;
    height: 52px;
    padding-left: 48px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%; }

/* BreadCrumb design */
.breadcrumbs .breadcrumbs-item a {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem; }
.breadcrumbs h2 span {
  font-weight: 500; }

.slider-info-wrap .slider-info-content .slider-info-item .info-item-content .main-title .price {
  margin-top: 13px;
  line-height: 18px;
  text-align: right; }
  .slider-info-wrap .slider-info-content .slider-info-item .info-item-content .main-title .price span {
    display: block; }
.slider-info-wrap .slider-info-content .slider-info-item .info-item-content .main-title .button {
  font-weight: 500;
  font-size: 0.8rem; }
.slider-info-wrap .slider-info-content .slider-info-item .info-item-media .info-item-text .info-price {
  font-size: 18px; }
.slider-info-wrap .slider-info-content .slider-info-item .info-item-media .info-item-text .info-temp {
  font-size: 18px; }

.features-tours-full-width .features-tours-wrap .features-tours-item .features-media .features-info-bot .button {
  font-weight: 500;
  font-size: 0.9rem; }
.features-tours-full-width .features-tours-wrap .features-tours-item .features-media .features-info-top {
  top: 10px; }

.cws-button {
  font-weight: 500; }

.pattern1:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url(../img/pattern6.jpg); }

.recom-item .recom-media {
  max-height: 240px; }
.recom-item .recom-item-body {
  padding: 10px 0 0 10px !important; }
  .recom-item .recom-item-body .action {
    font-weight: 500;
    right: -105px !important; }
  .recom-item .recom-item-body .cws-button {
    width: 100%;
    font-weight: 500; }
  .recom-item .recom-item-body .recom-price {
    line-height: 26px; }
    .recom-item .recom-item-body .recom-price span {
      display: block;
      font-size: 1.3rem; }
  .recom-item .recom-item-body .recom-content {
    max-height: 80px;
    overflow: hidden; }

.stars-perc {
  font-size: 10px; }
  .stars-perc:before {
    font-size: 10px;
    letter-spacing: 5px; }
  .stars-perc .stars-active {
    letter-spacing: 5px; }
  .stars-perc span:before {
    font-size: 10px;
    letter-spacing: 5px; }

.testimonial-item .testimonial-body .title span {
  font-weight: 500; }
.testimonial-item .testimonial-body .testimonial-button {
  font-weight: 500; }

.owl-item {
  max-height: 240px; }
  .owl-item .blog-item .blog-item-body {
    padding: 20px 20px 0 20px;
    overflow: hidden; }
    .owl-item .blog-item .blog-item-body .blog-button {
      font-weight: 500; }
  .owl-item .blog-item .blog-media {
    width: 50%;
    min-height: 240px; }

.blog-item .blog-media {
  width: 50%; }
  .blog-item .blog-media:before {
    right: 0;
    width: 0; }
  .blog-item .blog-media .pic:after {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -36%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -36%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -36%, 0); }
.blog-item .blog-item-body {
  padding: 15px 10px 0 10px;
  max-height: 190px;
  overflow: hidden; }

table.table-info {
  border: 1px solid #a0a0a1 !important; }
  table.table-info tbody tr td {
    border-right: 1px solid #caccce; }
    table.table-info tbody tr td span.price {
      color: #f9b91e; }
    table.table-info tbody tr td span.prm {
      color: #f43b3b;
      font-weight: 500; }

.btn-cover-layout {
  text-align: center;
  padding-top: 20px; }

/* pagination page*/
.pagination li a {
  border: 1px solid #d2cece; }
.pagination li:first-child a {
  background: #8bcf17;
  border-color: #8bcf17;
  color: #ffffff; }
.pagination li:last-child a {
  background: #8bcf17;
  border-color: #8bcf17;
  color: #ffffff; }
.pagination li.active {
  background: #8bcf17; }
  .pagination li.active span {
    background: #8bcf17;
    border-color: #8bcf17;
    padding: 5px 12px; }
    .pagination li.active span:hover {
      background: #8bcf17;
      border-color: #8bcf17; }
.pagination .disabled span {
  padding: 5px 12px; }

/* rating addon */
.rating-container .clear-rating {
  display: none; }
.rating-container .rating {
  font-size: 1.5rem;
  float: left; }
.rating-container .caption {
  font-size: 1.5rem;
  line-height: 24px;
  margin-top: 0; }

footer {
  padding-top: 50px; }
  footer.footer .widget-tags-wrap .tag {
    font-weight: 500; }
  footer.footer .copyright a {
    font-weight: 500 !important; }
  footer a img {
    width: 50%;
    margin-bottom: 10px; }
  footer p span {
    font-weight: 500;
    color: #8bcf17; }

/*  */
/* tour booking popup */
/*  */
.tour-popup {
  position: fixed;
  z-index: -1000;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .tour-popup.open {
    z-index: 1000;
    opacity: 1; }
  .tour-popup .tour-popup-wrap {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    height: auto;
    background: #ffffff; }
    @media (max-width: 768px) {
      .tour-popup .tour-popup-wrap {
        width: 90%; } }
    .tour-popup .tour-popup-wrap .container-fluid {
      padding: 0; }
      .tour-popup .tour-popup-wrap .container-fluid .title-wrap {
        height: 45px;
        line-height: 45px;
        background: #8bcf17;
        text-align: center; }
        .tour-popup .tour-popup-wrap .container-fluid .title-wrap h2 {
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
          margin: 0;
          display: inline-block;
          margin-left: 34px; }
        .tour-popup .tour-popup-wrap .container-fluid .title-wrap .close-button {
          float: right;
          color: #ffffff;
          margin-right: 20px;
          cursor: pointer; }
          .tour-popup .tour-popup-wrap .container-fluid .title-wrap .close-button:hover {
            color: #e6e6e6; }
      .tour-popup .tour-popup-wrap .container-fluid .row {
        margin: 0; }
        .tour-popup .tour-popup-wrap .container-fluid .row .tour-content {
          padding: 40px 25px;
          line-height: 40px; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content input.form-row {
            border: 1px solid #d2cece;
            font-size: 0.9rem;
            margin: 0 0 10px 0;
            padding: 0 15px;
            width: 100%;
            background: transparent; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content input.form-row:focus {
              border-color: #8bcf17; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content input.form-row-full {
            border: 1px solid #d2cece;
            max-width: 100%;
            width: 100%;
            font-size: 0.9rem;
            margin-bottom: 10px;
            padding: 0 15px;
            background: transparent; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content input.form-row-full:focus {
              border-color: #8bcf17; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .box-icon {
            font-size: 1.3rem;
            color: #8bcf17;
            padding: 5px; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content select {
            height: 40px;
            width: 30%;
            padding: 0 5px;
            border: 1px solid #d2cece; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content select:focus {
              border-color: #8bcf17;
              outline-color: #8bcf17; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content select:active {
              border-color: #8bcf17;
              outline-color: #8bcf17; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content textarea.form-row {
            border: 1px solid #d2cece;
            max-width: 100%;
            width: 100%;
            font-size: 0.9rem;
            margin-bottom: 10px;
            padding: 0 15px;
            font-style: italic;
            background: transparent; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content textarea.form-row:focus {
              border-color: #8bcf17; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .tours-calendar {
            margin-bottom: 10px; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .tours-calendar input {
              width: 85%;
              border: 1px solid #d2cece; }
              .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .tours-calendar input:focus {
                border-color: #8bcf17; }
          .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .remember {
            color: #b2b2b2; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .remember .checkbox {
              margin-top: 0; }
            .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .remember a {
              float: right;
              color: #8bcf17; }
              .tour-popup .tour-popup-wrap .container-fluid .row .tour-content .remember a:hover {
                color: #b5b5b5; }
      .tour-popup .tour-popup-wrap .container-fluid .tour-bot {
        background: #8bcf17;
        margin-bottom: 0;
        line-height: 40px;
        text-align: center; }
        .tour-popup .tour-popup-wrap .container-fluid .tour-bot p {
          color: #ffffff;
          margin: 0; }
          .tour-popup .tour-popup-wrap .container-fluid .tour-bot p a {
            color: #ffffff;
            text-decoration: underline; }

/* widget post */
.widget-post .item-recent .title {
  font-weight: 500; }
.widget-post .item-top-sellers .title {
  font-weight: 500; }

.widget-top-sellers .item-recent .title {
  font-weight: 500; }
.widget-top-sellers .item-top-sellers .title {
  font-weight: 500; }

/* portfolio item */
.portfolio-item:hover .portfolio-title {
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  transform: translateY(-70%); }
.portfolio-item .portfolio-title {
  top: 30%;
  font-size: 1.4rem; }

.review-content input.form-row {
  border: 1px solid #d2cece; }
.review-content textarea {
  border-color: #d2cece; }

/*# sourceMappingURL=site.css.map */
